<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
  <link rel="stylesheet" href="output.css">
  <style>
    .login-element::placeholder {
      font-size: 1.188rem;
    }

    .login-element:focus {
      border: 1px solid #1E90FF;
      outline: none;
    }
  </style>
</head>

<body class="w-screen h-screen font-Lato">
  <main class="flex flex-row w-full">
    <!-- The image section (Left)-->
    <div class="w-[50%] h-[99.6vh]">
      <img src="./images/login_img.png" alt="login image" class="w-full h-full">
    </div>

    <!-- The right section -->
    <!-- The logo image and the heading  -->
    <div class="w-[50%] flex flex-row justify-center">
      <section class="">

        <!-- Logo -->
        <div class="flex flex-row justify-end">
          <a href="index.html" class=""><img src="./assets/Insure/INsure Logo.png" alt="Insure logo"
              class="w-24 h-14 mb-12 mt-3">
          </a>
        </div>

        <!-- Text heading -->
        <div class="mb-4">
          <h2 class="text-4xl font-bold">Login to <span class="text-red-500">INsure</span></h2>
          <p class=" mt-1">Login to your existing <span class="text-red-500">Insure </span> account</p>
        </div>

        <!-- the form section -->
        <form name="loginData" onsubmit="login(event)" class="">
          <!-- Company Email -->
          <div class="mt-8 w-full">
            <input type="email" id="email" placeholder="Enter company email" name="email"
              class="login-element px-4 py-2 border border-gray-500 rounded-md w-96">
            <!-- Error text -->
            <small id="empty-field-error-text-1" class="block ml-[15.5rem] text-[#DB1818] hidden">field must not be
              empty</small>
          </div>
          <!-- Admin Password -->
          <div class="mt-6 relative" id="password-div">
            <input type="password" placeholder="Enter your password" name="password" id="password"
              class="login-element border border-gray-500 rounded-md px-4 py-2 w-96">
            <span id="eye-toggle-1" onclick="showPassword('password','1')"
              class="block text-[1.2rem] text-center absolute top-[15%] right-[6%]">
              <img src="./assets/user authentication/eye-regular.svg" alt="" id="eye-toggle-image-1"
                class="w-[1.2rem] h-[2rem]">
            </span>
            <!-- Eye toggle-slash-1 -->
            <span id="eye-toggle-slash-1" onclick="hidePassword('password','1')"
              class="block text-[1.2rem] absolute top-[15%] right-[5.8%] hidden"><img
                src="./assets/user authentication/eye-slash-regular.svg" id="eye-toggle-slash-image-1"
                class="w-[1.3rem] h-[2rem]"></span>
            <small id="empty-field-error-text-2" class="block ml-[15.5rem] text-[#DB1818] hidden">field must not be
              empty</small>
          </div>
          <!-- Remember password checkbox -->
          <div class="mt-2" id="remember-me">
            <input type="checkbox" id="remember" name="remember" class="mr-2 mt-0 ">
            <label for="remember" class="text-gray-700 mt-0 py-3 text-sm">Remember me</label>
          </div>

          <!-- button section -->
          <div class="mt-8" id="login-button-div">
            <button type="submit"
              class="border rounded-md font-bold border-gray-300 shadow inset-4 text-white bg-orange-600 py-2 px-4 hover:bg-orange-400 w-96">Login</button>
          </div>
          <!-- Don't have an account? -->
          <small class=" block text-center mt-2">
            <a href="./forgetPassword.html" class=""><span class="text-red-500 cursor-pointer hover:underline">Forget
                password?</span></a>
            <span class=" text-center mt-6">Don't have an account? <a href="./register.html"><span
                  class="text-red-500 cursor-pointer hover:underline"> Register</span></a></span>
          </small>
        </form>
      </section>
    </div>
  </main>
</body>
<script src="./auth.js"></script>

</html>